<div class="jumbotron">
  <h1>Gibber <small>ver. asl</small></h1>
  <div class="row">
    <button type="button" class="btn btn-primary btn-lg" name="button">{{#link-to 'room' 2}}Sports{{/link-to}}</button>
    <button type="button" class="btn btn-success btn-lg" name="button">{{#link-to 'room' 3}}Politics{{/link-to}}</button>
    <button type="button" class="btn btn-info btn-lg" name="button">{{#link-to "room" 1}}Entertainment{{/link-to}}</button>
    <button type="button" class="btn btn-warning btn-lg" name="button">{{#link-to 'room' 4}}Random{{/link-to}}</button>
  </div>
</div>
